# Fundamentals of Data Analysis Tasks

**Declan Tannian**

***

In [5]:
import seaborn as sns
import pandas as pd

## Task 1

> The Collatz conjecture is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive
integer x and repeatedly apply the function $f(x)$ below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .
f(x) =
x รท 2 if x is even
3x + 1 otherwise
For example, starting with the value 10, which is an even number, we divide it by 2 to get 5. Then 5 is an odd number so, we multiply by 3 and add 1 to get 16. Then we repeatedly divide by 2 to get 8, 4, 2, 1. Once we are at 1, we go back to 4 and get stuck in the repeating sequence 4, 2, 1 as we suspected. 
Your task is to verify, using Python, that the conjecture is true for the first 10,000 positive integers.

In [6]:
def f(x):
    #if x is even, divide it by 2
    if x % 2 == 0:
        return x // 2
    else:
        return (3 * x) + 1

In [7]:
def collatz(x):
        while x != 1:
                print(x, end =', ')
                x = f(x)
        print(x)

In [8]:
collatz(100)

100, 50, 25, 76, 38, 19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

*** Task 2 ***


 The variables in the penguin dataset are as follows:
 1. Categorical variables: take on a limited number of values and represent categories. Examples include species, island, sex.
 2. Numerical variables: take on numerical values. Examples include bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, year.

The Penguin dataset is included in Seaborn, so have imported in order to access this dataset. I checked which datasets were available by using sns.get_dataset_names(). I selected penguin dataset by using df = sns.load_dataset('penguins'). To check the current version I used sns.__version__ to dispaly current version. To display the top 5 rows I used df.head

In [9]:
sns.__version__

'0.11.2'

In [10]:
sns.get_dataset_names()
df = sns.load_dataset('penguins')
df.head()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [ ]:
df.describe()

In [12]:
df.shape

(344, 7)

*** Task 3 ***

There are 8 varaibles in this dataset. As mentioned above, there are Categorical variables like species, island, sex, and Numerical variables like bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, year.

1. species , this a categorical variable. This would be best suited to categorical distribution (also called  generalized Bernoulli distribution, multinoulli distribution) 
https://en.wikipedia.org/wiki/Categorical_distribution. This describes the possible results of a random variable that can be one of k possible categories, with the probaility of of each category seperately specified. 
2. island , also modelled using categorical distribution.
3. sex ,  also modelled using categorical distribution.

***
# End